[user]
	name = Aaron Podell
	email = aaronpodell@gmail.com
[alias]
	checkoutr = checkout
# [core]
# 	untrackedCache = true
# 	fsmonitor = fsmonitor-watchman
[pull]
	rebase = true
[diff]
	colorMoved = zebra
